body {
    background-color: rgb(155, 155, 155);
    margin: 0;
}

.page-wrap {
    padding: 20px;
    width: 358px;
    background-color: #ffffff;
    margin: 0 auto;
    top: 12px;
    left: 40px;
    position: absolute;
    border: solid;
}

/*navigation bar*/

.task-swicher {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 40px 0;
}

.swich-task-item {
    border: solid;
    margin: 5px;
    padding: 5px;
    height: 20px;
    width: 35px;
    text-align: center;
}

.swich-task-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.swich-task-item p {
    margin: 0 auto;
}