.main-fot {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 40px;
}

p {
  color: green;
  text-align: center;
}

div {
  text-align: justify;
}

.main-color {
  color: red;
}

.main-white-space {
  white-space: nowrap;
}

#bold-italic {
  font-weight: bold;
  font-style: italic;

}

.shadow {
  text-shadow: 5px -5px 3px red;

}

.div-text-decoration {
  text-decoration: line-through;
  text-transform: uppercase;
  text-indent: 50px;
}

.big-space {
  word-spacing: 30px;
  letter-spacing: 30px;
}