
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

video.dog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.cover {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex-form {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 10px;
}

.flex-form > * {
  border: 0;
  padding: 10px;
  background: white;
  line-height: 50px;
  font-size: 18px;
  border-radius: 0;
  outline: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
  appearance: none;
}

.flex-form > *:last-child {
  border-right: 0;
}

input[type="search"] {
  flex-basis: 300px;
}
