body {
    margin: 0;
    padding: 0;
    background-color: #d1d1d8;
}

.main {
    font-family: "Comic Sans MS", Geneva, Tahoma, sans-serif;
    font-size: 16px;
}


.head {
    padding: 10px;
}

.logo {
    margin: 10px;
    display: inline-block;
    padding: 15px;
    border-radius: 50%;
    box-shadow: inset 0 0 10px 6px #9696d9;
}

.horizontal-wrapper {
    width: 100%;
    display: inline-block;
    background-color: #606069;
    position: sticky;
}

.horizontal-list {
    float: right;
    height: 100%;
    margin: 0 10px;
    list-style-type: none;
}

.horizontal-item {
    float: left;
    text-align: center;
    margin: 0 1px;
    width: 5em;
    height: 3em;
    background-color: #95ac97;
}

.horizontal-item:hover {
    cursor: pointer;
    background-color: #335e3b;
}

.horizontal-item img {
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.horizontal-item:nth-child(3):hover .horizontal-inner-list {
    visibility: visible;
}

.horizontal-inner-list {
    padding: 0;
    visibility: hidden;
    position: absolute;
    background-color: #295819;
    right: 245px;
    right: 10px;
    float: right;
    width: 83px;
    list-style-type: none;
}

.horizontal-inner-item {
    border: solid 1px #474747;
    color: white;
    font-weight: 600;
    text-align: right;
    padding: 10px;
}

.horizontal-inner-item:hover {
    background-color: #474747;
}

.horizontal-inner-item:nth-child(2):hover .double-inner-list {
    visibility: visible;
}

.double-inner-list {
    padding: 0;
    font-weight: normal;
    visibility: hidden;
    position: absolute;
    background-color: #474747;
    right: 245px;
    top: 0;
    height: 100%;
    width: 50%;
    float: right;
}

.double-inner-list li {
    border: solid 1px #3a3a3a;
    padding-right: 5px;
}

.double-inner-list li:hover {
    background-color: #3a3a3a;
}

.double-inner-list li a {
    padding: 10px 0;
    display: block;
    width: 100%;
    height: 100%;
}

input:focus {
    outline: none;
}

.horizontal-item:nth-child(2):hover .search-box {
    visibility: visible;
}

.search-box {
    visibility: hidden;
    position: absolute;
    height: 48px;
    width: 245px;
    background-color: #5e5e5e;
    right: 10px;
    text-align: center;
    cursor: default;
}

.search-box label {
    position: relative;
    top: 25%;
    display: inline-block;
}

.search-box input {
    padding: 0;
    border: 0;
    outline: 0;
}


.vertical-wrapper {
    display: inline-block;
    background-color: #2b572d;
    position: sticky;
    height: 192px;
}

.vertical-list {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.vertical-item {
    text-align: center;
    width: 64px;
    height: 64px;
    position: relative;
}

.vertical-item img {
    height: auto;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.vertical-item:hover {
    background-color: #95c37d;
}

.vertical-item:nth-child(3):hover .vertical-inner-list {
    visibility: visible;
}

.vertical-inner-list {
    padding: 0;
    visibility: hidden;
    position: relative;
    background-color: #5e5e5e;
    height: 192px;
    width: 245px;
    right: -64px;
    top: -195px;
    width: 83px;
    list-style-type: none;

}

.vertical-inner-item {
    box-sizing: border-box;
    height: 64px;
    border: solid 1px #474747;
    color: white;
    font-weight: 600;
    text-align: left;
    padding: 22px 10px;
}

.vertical-inner-item:hover {
    background-color: #474747;
}

.vertical-inner-item:nth-child(2):hover .vdouble-inner-list {
    visibility: visible;
}

.vdouble-inner-list {
    padding: 0;
    font-weight: normal;
    visibility: hidden;
    position: absolute;
    background-color: #474747;
    right: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    float: right;
}

.vdouble-inner-list li {
    box-sizing: border-box;

    border: solid 1px #3a3a3a;
    height: 64px;
    padding: 20px 0 20px 5px;
}

.vdouble-inner-list li:hover {
    background-color: #3a3a3a;
}

.vdouble-inner-list li a {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
}

.vertical-item:nth-child(2):hover .vertical-search-box {
    visibility: visible;
}

.vertical-search-box {
    visibility: hidden;
    position: absolute;
    height: 100%;
    left: 65px;
    background-color: #ffffff;
    text-align: center;
    cursor: default;
    top: 0;
    border-width: 6px;
    border-color: black;
}

.vertical-search-box label {
    position: relative;
    top: 25%;
    display: inline-block;
    padding: 5px;
}

.vertical-search-box input {
    padding: 0;
    border: 0;
    outline: 0;
}