.block-wrap {
    width: 317px;
    position: absolute;
    left: 70px;
    color: white;
    text-align: center;
}

.squer-group .squer {
    display: inline-block;
    width: 140px;
    height: 95px;
    padding: 5px;
    border: 2px solid black;
    background-color: rgb(84 141 212);
}
.squer-group .squer:nth-child(1){
    margin-right: 5px;
}

.rectangle {
    position: absolute;
    top: 120px;
    height: 70px;
    width: 303px;
    background-color: rgb(95 73 122);
    padding: 5px;
    border: 2px solid black;
}